# ------------------------------
# Flutter & Dart Specific
# ------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/
**/generated_plugin_registrant.dart
*.iml
*.lock
*.log
*.json
pubspec.lock
.last_build_id
pubspec.yaml.backup
.fvm/

# ------------------------------
# IDE & Editor Specific
# ------------------------------
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# ------------------------------
# Android Specific
# ------------------------------
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/.gradle/
/android/captures/
/android/.settings/
/android/app/src/debug/

# ------------------------------
# iOS Specific
# ------------------------------
/ios/.symlinks/
/ios/Flutter/ephemeral/
/ios/Flutter/App.framework/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/ServiceDefinitions.json
/ios/Pods/
/ios/Podfile.lock
/ios/Runner/GeneratedPluginRegistrant.*

# ------------------------------
# macOS Specific
# ------------------------------
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.*
macos/Pods/
macos/Podfile.lock

# ------------------------------
# Windows Specific
# ------------------------------
windows/Flutter/ephemeral/
windows/Flutter/Generated.props
windows/Flutter/flutter_export_environment.sh
windows/Flutter/GeneratedPluginRegistrant.*

# ------------------------------
# General & System Files
# ------------------------------
*.class
*.orig
*~
*.tmp
*.bak
.DS_Store
.env
.env.*
temp/
debug/
profile/
release/
.sconsign.dblite
*.symbols